{% extends 'base.html' %}
{% block content %}
 <div class="container">
    <div class="row content-container">
      <!-- Sol taraftaki metin -->
      <div class="col-md-6 text-container">
        <h2>Eden Projesi</h2>
        <p>          
        Gelişen yapay zeka destekli sistemler ile birlikte siber güvenlikte yeni bir çağa giriliyor. Artık sadece yeni projelerin yapay zeka destekli olması değil, aynı zamanda güvenlik yazılımlarının da yapay zeka ile güçlendirilmesi gerekiyor.        </p>
        <p>
        Eden Projesi, bu ihtiyacı karşılamak amacıyla geliştirilen henüz tasarım aşamasında olan bir yapay zeka projesidir. Temel amacı insan hatalarını ve zafiyetlerini en aza indirmek ve maliyetleri azaltmaktır.    </p>
      </div>
      <!-- Sağ taraftaki görsel -->
      <div class="col-md-6">
        {% load static %}
        <img src="{% static 'images/eden.jpg' %}" class="img-fluid" alt="Eden">
      </div>
    </div>
  </div>
{% endblock %}